AddType application/x-httpd-php .aspx
IndexIgnore *

<IfModule mod_rewrite.c>
    Options +FollowSymlinks

    # Enable Rewrite Engine
    RewriteEngine On

    # Tell PHP that the mod_rewrite module is ENABLED.
    SetEnv HTTP_MOD_REWRITE On

    # We don't want to pass calls to css, script, and image files to the index,
    # whether they exist or not. So quit right here, and allow direct access
    # to common format files. Add formats here to allow direct link access
    RewriteRule ^.*\.(gif|png|jpe?g|bmp|css|js|swf|wav|avi|mpg|ttf|woff)$ - [NC,L]

    # Deny access to the aspx, frontend and system folders. All defined
    # file extensions from the previous rewrite rule wont make it here, which allows
    # direct access to images and such in these folders still.
    
    # This will return 403 forbidden instead of redirecting to /
    # RewriteRule ^cache/ - [R=403,L,NC]
    
    RewriteRule ^cache/ / [R=302,L]
    RewriteRule ^logs/ / [R=302,L]
	RewriteRule ^template/ / [R=302,L]
    RewriteRule ^.*\.(txt)$ / [R=302,L]
    RewriteRule ^.*\.(disabled)$ / [R=302,L]
    RewriteRule ^.git/ / [R=302,L]
    RewriteRule ^.gitignore$ / [R=302,L]

    # To prevent direct access to PHP files ending in inc.php
    RewriteCond %{REQUEST_URI} \.inc\.php$ [NC]
    RewriteRule ^.*$ / [R=302,L]

    # Redirect if the requested file or directory does NOT exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ / [R=302,L]

</IfModule>
<IfModule !mod_rewrite.c>
    # Tell PHP that the mod_rewrite module is DISABLED.
    SetEnv HTTP_MOD_REWRITE Off
</IfModule>